/*header style start hear*/

.header-inner-one{
    display: flex;
    align-items: center;
    background: #111D5E;
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #FFFFFF15;
}
.header-left{
    display: flex;
    flex-basis: 55%;
    align-items: center;
    @media #{$sm-layout} {
        justify-content: center;
    }
    .logo{
        padding: 43px 0;
        img{
            min-width: 60px;
        }
        @media #{$sm-layout} {
            padding-bottom: 10px !important;
        }
        img{
            @media #{$sm-layout} {
                max-width: 90px;
                height: auto;
            }
        }
        @media #{$sm-layout} {
            padding: 0 0 20px 0;
        }
    }
}
.mainmenu-nav{
    ul{
        &.main-menu{
            display: flex;
            align-items: center;
            margin: 0;
            padding-left: 20px;
            @media only screen and (min-width: 1400px) {
                padding: 0 0 0 40px;
            }
            li{
                margin: 0 12px 0 0;
                display: flex;
                align-items: center;
                @media only screen and (min-width: 1400px) {
                    margin: 0 40px 0 0;
                }
                &:first-child{
                    margin-left: 0;
                }
                a{
                    padding: 50px 12px;
                    font-size: 17px;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    position: relative;
                    &::before{
                        font-size: 14px;
                        right: -5px;
                        top: 52%;
                        transform: translateY(-50%);
                        position: absolute;
                        content: "\f078";
                        font-family: "Font Awesome 5 Pro" !important;
                    }
                }
                &:hover{
                    a{
                        color: var(--color-terciary);
                    }
                }
            }
        }
    }
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 45%;
    @media #{$sm-layout} {
        justify-content: center;
    }
    .input-group{
        position: relative;
        display: flex;
        justify-content: flex-end;
        max-width: max-content;
        i{
            position: absolute;
            top: 52%;
            transform: translateY(-50%);
            left: 15px;
            color: var(--color-white);
            font-size: 20px;
            cursor: pointer;
        }
        input{
            width: auto;
            background:#ffffff08;
            height: 50px;
            border-radius: 30px !important;
            color: var(--color-white);
            font-weight: 400;
            padding: 0  0 0 40px;
            margin-right: 37px;
            border: 1px solid transparent;
            &:focus{
                border: 1px solid var(--color-terciary);
            }
            &::placeholder{
                color:rgb(233, 31, 31);
            }
        }
    }
    .icons{
        display: flex;
        li{
            list-style: none;
            &.user{
                @media #{$large-mobile} {
                    margin-left: 0;
                }
            }
            &:first-child{
                margin-right: 24px;
                @media #{$small-mobile} {
                    margin-right: 15px;
                }
            }
            &:last-child{
                margin-left: 30px;
            }
        }
        i{
            position: relative;
            margin-left: 50px;
            color: var(--color-white);
            cursor: pointer;
            margin: 0;
            z-index: 1;
            transition: var(--transition);
            &::after{
                position: absolute;
                content: "";
                height: 52px;
                width: 52px;
                background: #ffffff43;
                opacity: 0.1;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                transition: 0.3s;
                top: 50%;
                left: 50%;
                @media #{$small-mobile} {
                    transform: translate(-64%, -35%);
                    height: 45px;
                    width: 45px;
                }
            }
            &:hover{
                transform: translateY(-5px) scale(1.05);
                &::after{
                    background: #4200E5;
                    border: 1px solid #fff1;
                    opacity: 1;
                }
            }
        }
    }
    a{
        &.rts-btn{
            margin-left: 18px !important;
            @media #{$large-mobile} {
                margin-left: 0 !important;
                margin-right: 7px;
            }
            @media #{$small-mobile} {
                margin-left: 0 !important;
                padding: 10px 12px;
            }
        }
    }
}
.header-style-two{
    background: var(--color-secondary);
    .header-left{
        display: flex;
        align-items: center;
        .logo-thumbnail{
            a{
                padding: 27px 12px;
                display: inline-block;
                @media #{$large-mobile} {
                    padding: 15px 12px;
                }
                @media #{$small-mobile} {
                    padding: 15px 12px;
                }
                img{
                    max-width: 104px;
                    max-height: 50px;
                }
            }
        }
        .input-group{
            display: flex;
            align-items: center;
            margin-left: 30px;
            @media #{$laptop-device} {
                margin-left: 15px;
            }
            input{
                width: auto;
                background: #ffffff0f;
                height: 50px;
                border-radius: 5px !important;
                color: var(--color-white);
                font-weight: 400;
                padding: 0 0 0 40px;
                padding-right: 10px;
                border: 1px solid transparent;
                @media #{$laptop-device} {
                    width: 212px;
                }
                &:focus{
                    border: 1px solid var(--color-terciary);
                }
            }
            i{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 15px;
                color: var(--color-white);
                cursor: pointer;
            }
        }
    }
    .header-right{
        .mainmenu-nav{
            margin-right: 50px;
            @media #{$laptop-device} {
                margin-right: 0;
            }
        }
    }
}
.header--sticky{
    transition: .3s;
    top: 0;
    z-index: 999;
    position: relative;
    &.sticky{
        background-color: #111d5e87;
        position: fixed !important;
        top: 0;
        display: block;
        backdrop-filter: blur(9px);
        width: 100%;
    }
}
.off-arrow{
    a{
        &::before{
            display: none;
        }
    }
}
.mobile-menu-bar{
    .hamberger{
        .hamberger-button{
            margin-left: 20px;
            cursor: pointer;
            @media #{$small-mobile} {
                margin-left: 10px;
            }
            i{
                position: relative;
                font-size: 22px;
                color: #fff;
                z-index: 1;
                @media #{$small-mobile} {
                    font-size: 19px;
                }
                &::after{
                    position: absolute;
                    content: "";
                    height: 50px;
                    width: 50px;
                    background: #fff;
                    opacity: 0.1;
                    border-radius: 50%;
                    transform: translate(-68%, -28%);
                    z-index: -1;
                    transition: 0.3s;
                    @media #{$small-mobile} {
                        height: 45px;
                        width: 45px;
                    }
                }
            }
        }
    }
}
.header-style-two{
    @media #{$large-mobile} {
        padding: 10px 0 10px 0;
    }
    @media #{$small-mobile} {
        padding: 10px 0 10px 0;
    }
    .setting-option{
        .search-mobile-icon{
            margin-left: 30px;
        }
    }
}

ul{
    &.icons{
        padding-left: 0;
        margin-right: 20px;
    }
    &.social-wrapper{
        padding-left: 0;
    }
}
.icon{
    &.user-two{
        @media #{$large-mobile} {
            margin-left: 0 !important;
        }
    }
}


.container-header{
    width: 1560px;
    margin: auto;
}


.header-two{
    border-bottom: 1px solid #27326F;
    .header-left{
        border-right: 1px solid #27326F;
        margin-right: -13px;
    }
    .main-menu-wrapepr {
        border-right: 1px solid #27326F;
        margin-right: 8px;
    }
}




